/*

Darko Bunic
http://www.redips.net/
Apr, 2011.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* make drag containers visible */
#buttons {
	border: 2px dashed LightBlue;*/
	width: 580px;
	margin: 10px auto;
}
#cabecera { position: absolute;
            width: 100%;
            height: 48px;
            top: 0;
            left: 0;
            /*background-color: #99FFFF; */
        }


/* main container */
#main_container{
	margin: auto;
}
	/* container for left and right div */
	#drag{
		/* make it visible */
		border: 2px;
		padding: 3px;
	}
		/* make left and right DIV container scrollable */
		#main_container #tabla{
			/*  http://www.howtocreate.co.uk/tutorials/javascript/browserspecific (Element position with scrolling offsets)
			make sure that every element with an overflow of anything other than "visible" also has a position
			style set to something other than the default "static". This way, they will all appear in the offsetParent
			chain, and can be easily subtracted in the same loop that adds the offsetLeft and offsetTop. */
			overflow: auto;
			position: relative;
			height: 500px;
		}

/* tables */
div#drag table {
	/*background-color: #eee;*/
	border-collapse: collapse;
	/* center tables */
	margin: 0px auto;
}
		/* timetable */
		div#drag #tbl, #tb0 {
			/* align table to the right */
			margin-left: auto;

		}

/* button area above tables */
#buttons {
	text-align: right;
	border-color: white;
	padding-bottom: 0px;
}

/* set border-collapse for tables */
/*table {
	border-collapse: collapse;
	width: 580px;
}*/

div#drag td {
	border: 2px groove white;
}

/* table titles */
div#drag th {
	font-size: 14pt;
}

/* drag object (DIV inside table cell) */
.drag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 10pt;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}
/* drag object (DIV inside table cell) */
.nodrag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 10pt;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}
/* blue DIV elements */
.blue {
	border-color: SteelBlue;
	width: 50px;
}

/* orange DIV elements */
.orange {
	border-color: #000000;
	width: 18px;
}

/* DIV row handlers (blue left column) */
.row {
	width: 35px;
	margin: 2px;
	border-color: SteelBlue;
	background-color: SteelBlue;
	
	/* round corners */
	/* border-radius: 14px; /* Opera, Chrome */
	/* -moz-border-radius: 14px; /* FF */
}
.redondo {
	/* round corners */
	border-radius: 14px; /* Opera, Chrome */
	-moz-border-radius: 14px; /* FF */
}
/* row handler TD background color */
.rowhandler {
	background-color: #76ACDA;
	width: 50px;
	text-align: center;
}

/* marked cells (forbidden access for header and message line) */
.mark {
	/*background-color: #aaa;*/
	text-align: center;
}

/* row dark */
.rd {
	/*background-color: #ddd;*/
	
}

/* row light */
.rl {
	/*background-color: #eee;*/
}

/* cell dark */
.cdark {
	/*background-color: #C6C8CB;*/
	text-align: center;
	width: 30px;
}
/* cell dark2 */
.cdark2 {
	/*background-color: #C6C8CB;*/
	
}
.today {
	background-color: #6aa3ff;
}
/* cell to write text */
.cligth {
	/*background-color: #92998e;*/
	word-break: break-all;
	text-align: center;
	width: 250px;
}
.cligth2 {
	/*background-color: #92998e;*/
	text-align: center;
	width: 56px;
}
.circle, .circlemas, .circlemasmas{
	font-size: 9px;
	width: 15px;
	height: 15px;
	text-align: center;
	top: -2px;
	/* round corners */
	border-radius: 11px; /* Opera, Chrome */
	-moz-border-radius: 11px; /* FF */
}
/* x / + tools for each table row */
.rowTool {
	cursor: pointer;
}
.trash {
	background-color: #ff6c6a;
}

.vacio{
	background-color: #fabd57;
	border-color: #000000;
	color: #000000;
}
.chuleado{
	background-color: #4dae49;
	border-color: #000000;
	color: #000000;
}
.nohizo{
	background-color: #f25054;
	border-color: #000000;
	color: #000000;
}
.transferido{
	background-color: #7b7c72;
	border-color: #000000;
	color: #000000;
}
.vaciolight{
	background-color: #fbe8b6;
	border-color: #dcd3d9;
	color: #827d80;
}
.chuleadolight{
	background-color: #8fbd8a;
	border-color: #dcd3d9;
	color: #827d80;
}
.nohizolight{
	background-color: #ff7982;
	border-color: #dcd3d9;
	color: #827d80;
}
.transferidolight{
	background-color: #b0b29f;
	border-color: #dcd3d9;
	color: #827d80;
}
.filtro_dia{
	position: absolute;
	top:12px;
	left:-1px;
	border: 0;
}
.conten_dia{
	position: absolute;
	top:-3px;
	left:2px;
	border: 0;
}
.beginweek{
	position: absolute;
	top:-6px;
	left:-7px;
	border: 0;
	background-color: #999999;
	width: 2px;
	height:100%;
}