.jCProgress {
     position: absolute;
     z-index: 99;
     margin-top:-5px; 
     margin-left:7px; /* offset from the center 
}

.jCProgress > div.percent {
     font: 18px/27px 'BebasRegular', Arial, sans-serif;
     color:#ebebeb;
     text-shadow: 1px 1px 1px #1f1f1f;

     position:absolute;
     margin-top:40px;
     margin-left:22px;
     text-align: center;
     width:60px;
}